/*  =========================================================================
    generic.font-face
    custom font declarations
    ========================================================================= */

/* source-sans-pro-regular - latin */
@font-face {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/src/sass/fonts/source-sans-pro-v19-latin/source-sans-pro-v19-latin-regular.woff2') format('woff2');
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: Source Sans Pro;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/src/sass/fonts/source-sans-pro-v19-latin/source-sans-pro-v19-latin-regular.woff2') format('woff2');
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/src/sass/fonts/source-sans-pro-v19-latin/source-sans-pro-v19-latin-700.woff2') format('woff2');
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-family: Source Sans Pro;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/src/sass/fonts/source-sans-pro-v19-latin/source-sans-pro-v19-latin-700italic.woff2') format('woff2');
}

/* predige-rounded-bold - latin */
@font-face {
  font-family: Predige Rounded;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/src/sass/fonts/PredigeRounded/predigerounded-bold-webfont.woff2') format('woff2');
}

/* predige-rounded-regular - latin */
@font-face {
  font-family: Predige Rounded;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/src/sass/fonts/PredigeRounded/predigerounded-regular.woff2') format('woff2');
}
