{
  "extends": [
    "@supple-kit/stylelint-config-supple",
    "stylelint-config-html"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ]
  }
}
